.menu-container {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
}

.menu-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.menu-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.menu-form input {
  padding: 10px;
  flex: 1;
}

.menu-form button {
  background: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th {
  background: #222;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: center;
}

.edit-btn {
  background: orange;
  border: none;
  padding: 8px 12px;
  margin-right: 8px;
  cursor: pointer;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}